---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const title = 'Pokedex Static';
---

<Layout title={title}>
	<h1 class="text-3xl ">{title}</h1>
</Layout>
