---
import Title from "@components/pokemons/shared/Title.astro";
import Layout from "@layouts/Layout.astro";


---
<Layout title="My Favorite Pokemons">
    <Title>My Favorite Pokemons</Title>
</Layout>